.card-container {
  max-height: 350px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: #eafee8;
}

.card {
  width: full;
  margin: 2%;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.card p {
  color: #333;
  font-size: 14px;
}

.material-icons {
  cursor: pointer;
}
